#titulo_enlaces{
    background-color: turquoise;
    color: darkmagenta;
    font-size: 32pt;
    text-align: center;
    width: 256px;
}


.fondo_naranja{
    background-color: orange;
    color: white;
    font-size: 28pt;
    text-align: right;
}

h2{
  color: #2fec16;
  font-size: 50pt;
}

h2{
    background-color: white;
    font-size: 16pt;
    
}
body{
    background-color: rgb(113, 127, 206) ;
}

a :visited{
    background-color: green;
    color:mediumspringgreen;
}

a :link{
    color:yellow;
    font-size: 16pt;
    
}
a:hover{
color:greenyellow;
}

th:active{
    background-color: chocolate;
}
#desordenadas li a{
   background-color: rebeccapurple; 
   margin-bottom: 8px;

}

/* #desordenadas li {
    background-color: rebeccapurple; 
    margin-bottom: 8px;
 
 } */